@model FoodArrayViewModel

<body>
    <h1 style="text-align: center;">Dig into One of These Foods</h1>

    <div>
        @foreach (var item in Model.Foods)
        {
            <div>
                <form asp-controller="Ingredients" asp-action="GetHarmfulIngredients" method="get">
                    <input type="hidden" name="itemId" value="@item.Description" />
                    <button type="submit" name="ingredients" value="@item.Ingredients" style="width: 100%; height: 10%;">
                        @Html.Raw(item.Description + "<br>" + "<i>" + item.BrandOwner + "</i>"+ "<br>")
                    </button>
                </form>
            </div>
        }
    </div>
</body>