@model FoodArrayViewModel
<body style="color: white; background-color: black;">
    <h1 style="text-align: center;">Select a Food</h1>

    <div>
        @foreach (var item in Model.Foods)
        {
            <div>
                <form asp-controller="Ingredients" asp-action="GetAllIngredients" method="get">
                    <input type="hidden" name="itemId" value="@item.Description" />
                    <button type="submit" name="ingredients" value="@item.Ingredients" style="width: 100%; height: 10%; color: black;">
                        @Html.Raw(item.Description + "<br>" + item.BrandOwner + "<br>")
                    </button>
                </form>
            </div>
        }
    </div>
</body>
