@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<style>

    h2 
    {
        font-family: "Times New Roman", Times, serif;
        color: red
    }

</style>

@if (!string.IsNullOrEmpty(@Model.Message))
{
    <h2 class="error-message" style="text-align: center;"><b>@Html.Raw(Model.Message)</b></h2>
}
else
{
    <h2 class="error-message" style="text-align: center;"><b>An error occurred while processing your request.</b></h2>
}
