@model food_detective.Models.RequestModels.FoodSearchRequestBody

@using (Html.BeginForm("GetFoods", "Foods", FormMethod.Get))
{   
    <div class="form-group">
        <label for="Food Name">Food Name</label>
        @Html.TextBoxFor(model => model.query, new { @class = "form-control", style = "font-size: 24px"})
    </div>

    <br />

    <div class="form-group">
        <label for="Pass Key">Brand (Optional) </label>
        @Html.TextBoxFor(model => model.brandOwner, new { @class = "form-control" })
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
}