html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@keyframes rainbow-animation {
    0% {
        color: #ff4d4d;
    }
    /* Red */
    14% {
        color: #ffad4d;
    }
    /* Orange */
    28% {
        color: #ffeb4d;
    }
    /* Yellow */
    42% {
        color: #4dff4d;
    }
    /* Green */
    57% {
        color: #4d8aff;
    }
    /* Blue */
    71% {
        color: #ad4dff;
    }
    /* Indigo */
    85% {
        color: #ff4dea;
    }
    /* Violet */
    100% {
        color: #ff4d4d;
    }
    /* Red */
}

.no-harmful-ingredients {
    animation: rainbow-animation 6s infinite;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}