body.light-mode 
{
    background-color: #ffffff;
    color: #000000;
}

h1, h2, h3 
{
    color: #000000;
}

.light-mode a {
    color: #000000 !important;
}

.button 
{
    background-color: #007bff;
    color: #ffffff;
}