html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    margin-bottom: 60px;
}

.navbar-brand {
    font-size: 24px;
}

@keyframes rainbow-animation {
    0% {
        color: #ff4d4d;
    }
    /* Red */
    14% {
        color: #ffad4d;
    }
    /* Orange */
    28% {
        color: #ffeb4d;
    }
    /* Yellow */
    42% {
        color: #4dff4d;
    }
    /* Green */
    57% {
        color: #4d8aff;
    }
    /* Blue */
    71% {
        color: #ad4dff;
    }
    /* Indigo */
    85% {
        color: #ff4dea;
    }
    /* Violet */
    100% {
        color: #ff4d4d;
    }
    /* Red */
}

.no-harmful-ingredients {
    animation: rainbow-animation 6s infinite;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode-toggle {
    width: 40px;
    height: 20px;
    position: relative;
    background-color: #ffffff;
    border-radius: 15px;
}

.dark-mode-toggle input[type="checkbox"] {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    border-radius: 15px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.dark-mode-toggle input:checked + .slider 
{
    background-color: #000000;
}